<h1>Create Note here</h1>
<form action="/notes" method="POST">
  <input name="note" placeholder="Note here" value="<%=note.note%>" required />
  <a href="/notes/new">Cancel</a>
  <button type="submit">Submit</button>
</form>
